:root {
    // Color
    --greenColor: #1db954;
    --textColor: #333;
    --white: #fff;
    --black: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--textColor);

}

.app {
    height: 100%;
    width: 100%;
}