.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../../Assets/Images/cherry-blossom-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.responsive__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn__container {
  // border: 1px solid black;
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.backBtn {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 80px;
  border-radius: 6px;

  &:active {
    background-color: rgb(193, 255, 255);
  }
}

.resetBtn {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 80px;
  border-radius: 6px;

  &:active {
    background-color: rgb(193, 255, 255);
  }
}

.display {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;

  .display__image {
    // border: 1px solid green;
    height: 30px;
    width: 30px;
  }

  .showX {
    background-image: url(../../Assets/Images/Xpng.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .showO {
    background-image: url(../../Assets/Images/Opng.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
