@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

.control__container {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;

    .control__wrapper {
        height: calc(100% - 20px);
        width: calc(100% - 100px);
        border: 1px solid black;
        border-radius: 32px;
        background-color: rgba(255,255,255,0.8);
    }

    .control__content{
        // border: 1px solid blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 50px 20px;
    }
}


// Display
.display {
    // border: 1px solid rgb(234, 190, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 0 20px 0;
    

    .display__image {
        // border: 1px solid green;
        height: 100px;
        width: 100px;
        margin: 0 0 20px 0;
    }

    .showX{
        background-image: url(../../Assets/Images/Xpng.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .showO{
        background-image: url(../../Assets/Images/Opng.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .display__name {
        // border: 1px solid red;
        color: black;
        width: 100%;
        display: flex;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }
}

// Back Mode
.mode {
    // border: 1px solid yellow;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;


    .backBtn {
        border: 1px solid black;
        padding: 20px 24px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in;
        font-size: 1.2vw;

        &:hover {
            background-color: rgb(193, 255, 255);
        }

        &:active {
            background-color: rgb(89, 176, 176);

        }
    }

    .resetBtn {
        border: 1px solid black;
        padding: 20px 18px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in;
        font-size: 1.2vw;



        &:hover {
            background-color: rgb(193, 255, 255);
        }

        &:active {
            background-color: rgb(89, 176, 176);
        }
    }
}

// Time
.time{
    // border: 1px solid brown;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}



// Choose Mode
.mode__container {
    // border: 1px solid yellow;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    height: 100%;



    .pvsp {
        border: 1px solid purple;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: calc(100% - 100px);
        font-size: 1.8vw;
        border-radius: 10px;
        margin: 40px 0;
        cursor: pointer;

        &:hover {
            background-color: rgb(141, 209, 255);
        }

        &:active {
            background-color: #ccc;
        }
    }

    .pvsc {
        border: 1px solid purple;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: calc(100% - 100px);
        font-size: 1.8vw;
        border-radius: 10px;
        margin: 40px 0;
        cursor: pointer;

        &:hover {
            background-color: rgb(141, 209, 255);
        }

        &:active {
            background-color: #ccc;
        }

    }
}



