.login__wrapper {
    height: 670px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nameInput {
    height: 30px;
}

.saveBtn {
    margin: 0 10px;
    width: 44px;
    height: 30px;
}

.player__container {
    display: flex;
    align-items: center;
}



.player2 {
    margin-top: 36px;
}